<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Backbone application</title>
    <link rel="stylesheet" href="css/master.min.css">
</head>

<body>
    <script type="text/template" id="personal-id">
        <strong><%= name %></strong>: <%= job %>, <%= age %> лет
    </script>
    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="node_modules/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="node_modules/backbone/backbone-min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>
